/*Contact table*/
#ct{
	float: center;
	border-spacing: 5px;
	border-collapse: collapse;
}
#ct table, th,td{
	border: 1px solid black;	
}
#ct th{
	height: 30px;
	width: 190px;
}

img.image {
	display: inline-block;
	color: currentColor;
	width: 400px;
	height: 400px;
	vertical-align: middle;
	float: right;
	position: relative; /* 1 */
	top: -0.1em;
}