#skill{
	border-collapse: collapse;
	border: 1px solid black;
}
#skill table,th,td{
	border: white;	
	border-bottom: 1px solid black;
}
#skill th{
	font-size: 16px;
	height: 50px;
	width: 250px;
	text-align: left;
}
#skill td{
	font-size: 14px;
	height: 30px;

}
.textbox{
	width: 550px;
}
