
body{ 
	width:62.5rem;
	margin:0 auto 0px auto;
	background-color: #333333/*0E273C*/;
}

p{
	color:#F7F7F9;
}/*
@media only screen and (max-width:720px) {
h1 {
	color:pink;
}
}*/

a{
	text-decoration:none;
}

h2{
	text-align: center;
}


.content-container{
    background-color: #1a1a1a/*#8D99AE*/;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px ;
    margin-top: -1px;
    width: 100%;
	overflow: auto;
}


/*navigation*/
.nav{
	list-style: none;
	margin: 0;
	padding: 10px;
	overflow: hidden;
	background-color: #464646/*450b59*/;
	text-align:center;
}


.projects-page{ 
	position: relative;
	min-height: 100vh;
}

.portfolio-content{
	padding-bottom: 3.5rem;
}

.page-footer{
	position: absolute;
  	bottom: 0;
 	width: 100%;
  	height: 3.5rem; 
  	font-size: 18px;
}

footer{
	background-color: #464646/*8D99AE*/;
	text-align: center;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
	
}
h1.page-header{
	width: 50%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
  	top: 10; left: 0; bottom: 10; right: 0;
	text-align: center;
	background-color: #888888/*8D99AE*/;
	border: 5px;
	border-style: solid;
	border-color: #1a1a1a/*450b59*/;
	color:#450b59;
}

.pagetab
{
	text-align: center;
	font-size: 28px;
	color: #EF233C;
	padding-left: 25px;
	padding-right: 25px;
}

.projecttab
{
	text-align: center;
	font-size: larger;
}
/*
.activeTab{
	background-color: #8D99AE;
}*/

.selectedNavTab{color:green;
	background-color: #F7F7F9;}