.tab{
    padding-left: 15px;
    padding-right: 55px;
    color: green;
    font-size: 24px;
}

.project-container{
    width: 980px;
    height: 250px;
    background-color:rgb(72, 25, 117);
    margin: 10px;
}

table.project-table{
    table-layout: fixed;
    width: 100%;  
}
td{
    height:245px;
    background-color: darkgreen;
}
.project-info{
    background-color: crimson;
    margin:10px;
    height: 200px;
}

.pr-header{
    color: rgb(196, 128, 3);
    font-weight: bold;
    text-align: center;
}

.pr-txt{
    text-align: center;
}

.pr-img{
    width: 450px;
    height: 200px;
    object-fit: scale-down;
}